$font: Roboto, Helvetica, sans-serif;
$color1: chocolate;
$color2: blue;
$radio: 25px;
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: $font;
	#circle_cursor {
		width: $radio;
		height: $radio;
		background-color: purple;
		border-radius: 50px;
		position: absolute;
		z-index: 3;
		//left: 50%;
		//top: 50vh;
	}
	section {
		height: 100vh;
		display: flex;
		flex-direction: column;
		text-align: center;
		.question {
			flex-grow: 1;
			width: 20%;
			background: lightgray;
		}
		.question.hover {
			color: white;
		}
	}
}
